{% extends 'base.html.twig' %}

{% block title 'Tous nos biens'%}

{% block body %}
    <div class="container mt-4">
        <h1>Voir tous nos biens</h1>
        <p>Dolore excepteur commodo deserunt labore enim in dolor aute nulla quis esse sint. Est commodo id cillum veniam officia commodo. Nulla fugiat fugiat eiusmod aliqua quis ea consectetur sint ex laboris ea proident eiusmod do. Laborum incididunt velit enim deserunt ut veniam mollit ipsum do sunt. Sit eiusmod nulla cillum elit nulla magna eiusmod aliquip duis labore occaecat. Ullamco aliqua ut anim nisi. Consectetur ipsum eiusmod aliqua aliquip magna duis exercitation enim nisi.</p>
    </div>
{% endblock %}
